fastapi
uvicorn
sqlalchemy
psycopg2-binary
pgvector
pydantic
pydantic-settings
passlib[bcrypt]
python-jose[cryptography]
python-multipart
email-validator
bcrypt==3.2.2
fastembed
groq
PyPDF2
langchain-text-splitters